<h1> RECIPE </h1>
<li><b>Location</b> :<%= @cupcake.location%></li>
<li><b>Ingredients</b> :<%= @cupcake.cupcake_ingredients_count%></li>
<p class="CupcakeRecipetitle"><b><%= @cupcake.cupcake_recipe_title%></b></p>
<p class="qwerty"><%= @cupcake.cupcake_recipe_description%></p>
<li><b>Calories :</b> <%= @cupcake.cupcake_calories%></li>
<button onclick="window.print()">Print</button>